In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.4.3

In [5]:
mylist = list('abcdefghijklmnopqrstuvxz')
myarray =  np.arange(26)
mydict = dict(zip(mylist, myarray))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarray)
ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [10]:
df = ser3.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

In [12]:
df_combined = pd.concat([ser1, ser2], axis=1)
df_combined.head()

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4

In [13]:
ser3.name = 'alphabets'
ser3.head()

a    0
b    1
c    2
d    3
e    4
Name: alphabets, dtype: int32

In [15]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64